/* PHASE 3: Layout
*/

.content {
  background-color: white;
  display: flex;
  min-height: 200px;

}

.content-sidebar {
  background-color: blue;
  padding: 10px;
  width: 23%;

}

.content-main {
  background-color: yellow;
  padding: 10px;
  width: 77%;

}
